/* Global */

html {
  font-family: Helvetica, Arial, sans-serif;
  --webkit-font-smoothing: antialiased;
}

.outerContainer {
  text-align: center;
  display: inline-block;
}

.innerContainer {
  display: inline-block;
  max-width: 600px;
}

@media (min-width: 650px) {
  .innerContainer {
    margin-left: 10%;
  }
}

form p {
  text-align: justify;
  font-size: 14px;
}

label {
  font-size: 20px;
}

.formSubmit {
  font-size: 24px;
  margin-bottom: 30px;
}

/* Profile Setup Page */
